.icon--edit-button {
	stroke: #fff;
	height: 24px;
	width: 24px;

	transition: all 0.2s ease-in;

	&:hover {
		opacity: 0.6;
	}
}

.icon--add-button {
	stroke: #fff;
	width: 150px;
	height: 50px;

	transition: all 0.2s ease-in;

	@include mobile {
		width: 100%;
		height: 100px;
	}

	&:hover {
		opacity: 0.6;
	}
}

.icon--heart {
	stroke: #000;
	fill: transparent;
	width: 22px;
	height: 19px;

	transition: all 0.2s ease-in;

	&:hover {
		opacity: 0.5;
	}

	&.liked {
		fill: #000;
	}
}

.icon--trash {
	position: absolute;
	width: 18px;
	height: 19px;
	top: 20px;
	right: 20px;
	fill: #fff;
	opacity: 0;

	cursor: pointer;

	transition: all 0.2s ease-in;
}

.icon--close-icon {
	height: 32px;
	width: 32px;
	fill: #fff;
}
