.cards {
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		column-gap: 17px;
		row-gap: 20px;
	}
}
.card {
	position: relative;
	display: block;
	margin: 0 auto;
	width: 282px;
	border-radius: 10px;

	overflow: hidden;

	color: #000;

	&:hover {
		.icon--trash {
			opacity: 1;
		}
	}

	img {
		background-color: #999;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		object-fit: cover;
		height: 360px;
	}
}
.title-wrapper {
	padding: 28px 18px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: #fff;

	svg {
		cursor: pointer;
	}
}
.title {
	font-weight: 900;
	font-size: 24px;
}

.like-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}
